.aboutHeader {
  font-size: 2.25em;
  text-align: right;
}

.aboutText {
  font-size: 1.25em;
  text-align: right;
}

button.nav-btn {
  border: 1.5pt solid white;
  font-size: 1em;
  height: auto;
  padding: 0 1em;
  margin-bottom: 2em;
}

.mushPics {
  border-radius: 50%;
  border: 2.5pt solid white;
  max-width: 9em;
  width: auto;
  height: auto;
  transition: 0.1s;
}

.mushPics:hover {
  transform: scale(1.01);
  transition: 0.1s;
}

.mushPicDiv {
  width: auto;
}
