mat-toolbar {
  height: auto;
  background-color: transparent;
  padding: 1em;
}

.logo {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  font-weight: bolder;
  z-index: 3;
}

#mn_state {
  height: 1.5em;
}
