mat-toolbar {
  height: auto;
  background-color: transparent;
  padding: 1em;
}

.logo {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.7em;
  font-weight: bolder;
}

#mn {
  height: 2.5em;
}
