<div class="content" fxLayout="row" fxLayoutAlign="end">
  <div fxLayout="column" fxFill fxLayoutGap="2em" [@transitionAnimations]="transition">
    <div fxLayout="column" fxLayoutGap="0.5em">
      <div class="pageHeader">
        SCENES FROM THE FARM
      </div>

      <div fxfill>
        <mat-grid-list cols="4" rowHeight="3:2" gutterSize="0.3em">
          <mat-grid-tile *ngFor="let imageUrl of imageUrls" (click)="viewPhoto(imageUrl)">
            <img [src]="imageUrl" alt="">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>

    <div fxLayoutAlign="end">
      <button class="nav-btn" mat-stroked-button routerLink="" routerLinkActive="active">
        <span><i class="fas fa-chevron-left"></i> Back</span>
      </button>
    </div>
  </div>
</div>

