@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url('../src/assets/farm_flower.jpg');
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.11); /*can be anything, of course*/
}
