@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url('../src/assets/mushroom_shelves.jpg');
  background-size: cover;
}

.container {
  height: 100%;
  width: 100%;
  background: rgba(155, 155, 155, 0.5); /*can be anything, of course*/
}

.spacer {
  flex: 1 1 auto;
}
