@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  z-index: 5;
}

footer {
  position: relative;
  bottom: 0;
}

.container {
  flex: 1;
  margin: 1em;
}

.bgImage {
  background-image: url('../src/assets/bg_shelves.jpg');
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  z-index: -5;
  opacity: 0.75;
}

.content {
  padding: 0 3em;
  color: white;
}

.content.home {
  margin-top: 1.75em;
}

.spacer {
  flex: 1 1 auto;
}

.pageHeader {
  font-size: 1.5em;
  text-align: right;
}

.pageText {
  font-size: 1em;
  text-align: right;
}
