<div class="content home" fxLayout="row" fxLayoutAlign="end">
  <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column" fxLayoutGap="1em" [@transitionAnimations]="transition">
    <div class="homeText">
      Monticello Mushroom was founded in 2009 with the vision of supplying Minnesotans with locally-grown, fresh mushrooms.
    </div>
    <div fxLayout="row" fxLayoutGap="0.75em" fxLayoutAlign="end">
      <button class="nav-btn" mat-stroked-button routerLink="/photos" routerLinkActive="active">
        <span><i class="far fa-images fa-fw"></i> Explore</span>
      </button>
      <button class="nav-btn" mat-stroked-button routerLink="/about" routerLinkActive="active">
        <span><i class="fas fa-info-circle fa-fw"></i> Learn More</span>
      </button>
    </div>
  </div>
</div>
